.form {
  &-group {
    margin: 1rem 0;
  }

  .btn{
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  &-text {
    display: block;
    margin-top: 0.3rem;
    color: rgb(46, 46, 46);
  }

  input[type='text'],
  input[type='email'],
  input[type='textarea'] select,
  textarea {
    font: inherit;
    display: block;
    width: 100%;
    padding: 0.4rem 0.4rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    background: #e1e1e1;
    border-radius: 4px;
  }
  input:focus, 
  textarea:focus{
    border: 1px solid darken($primary-color, 15%);
    z-index: 2;
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #e1e1e1 inset !important;
      box-shadow: 0 0 0 30px #e1e1e1 inset !important;
  }

  textarea {
    font-family: 'Lato', sans-serif;
    white-space: normal;
  }

}
